/* centers images in editor mode */
.cm-editor img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* centers images in editor mode */
.markdown-preview-view img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* no breaking callout when exporting to pdf */
.callout {
    page-break-inside: avoid;
    break-inside: avoid-page;
}

/* callout: important */
.callout[data-callout="important"] {
    --callout-color: var(--callout-important);
    --callout-icon: lucide-circle-alert;
}

/* inline title padding */
.inline-title {
    padding-bottom: 10px;
}

/* H2 line divider padding */
.h2-l .markdown-reading-view h2,
.h2-l .mod-cm6 .cm-editor .HyperMD-header-2 {
    padding-bottom: 0.3em;
}

/* notifications */
.notice {
    background-color: var(--background-secondary);
    color: var(--text);
    border: 1px solid var(--background-modifier-border);
}
