body {
    /* code block */
    --code-size: var(--font-smaller);
    --code-background: var(--background-primary-alt);
    --code-normal: #b3b3b3;
    --code-comment: #656565;
    --code-function: #e0de71;
    --code-important: #ffba73;
    --code-keyword: #fb99cd;
    --code-property: #51dedc;
    --code-punctuation: #b3b3b3;
    --code-string: #45cf6e;
    --code-tag: #fb464c;
    --code-value: #51dedc;
    --code-border-color: var(--background-modifier-border);
    --code-border-width: 1px;
    --code-radius: 4px;

    /* callout borders */
    --callout-border-width: 1px;
    --callout-border-opacity: 0.2;

    --font-adaptive-small: var(--font-ui-small);

    --icon-m: 16px;

    --metadata-input-text-color: var(--text-muted);
    --nav-indentation-guide-color: rgba(var(--mono-rgb-100), 0.2) !important;

    --line-height-tight: 1.35;

    /* --list-indent-editing: 5em; */
    /* --list-indent: 5em; */
}

/* jump to link */
.jl.popover {
    position: absolute;
    display: block;
    z-index: 10000;
    background: linear-gradient(
        to bottom,
        rgba(255, 186, 133, 0.8),
        rgba(255, 186, 66, 0.8)
    );
    border: 1px solid rgb(227, 157, 35);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
}

/* jump to link: trigger color */
.theme-dark,
.theme-light {
    --jump-to-link-lightspeed-color: var(--text-muted);
}

/* translucent window adjustments */
.is-translucent:not(.is-fullscreen) {
    --nav-collapse-icon-color-collapsed: rgba(var(--mono-rgb-100), 0.3);
    --divider-color: rgba(0, 0, 0, 0.15);
}

/* remove jump flash highlight */
.is-flashing {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}
