/* =========================================
   WORKSPACE / SIDEBAR
   ========================================= */

body:not(.is-mobile)
.workspace-split.mod-left-split
.workspace-sidedock-vault-profile {
    border-top: transparent;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher-icon {
    color: var(--icon-color);
    opacity: var(--icon-opacity);
}

/* =========================================
   CHECKBOXES
   ========================================= */

.checkbox-square {
    --checkbox-radius: 3px;
}

/* =========================================
   EXTRAS (PLUGIN/UTILITY POPOVER)
   ========================================= */

.jl.popover {
    position: absolute;
    display: block;
    z-index: 10000;
    background: linear-gradient(to bottom, rgba(255, 186, 133, 0.8), rgba(255, 186, 66, 0.8));
    border: 1px solid rgb(227, 157, 35);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
}
