/* --- Editor & Reading View Tweaks --- */

/* list */
.markdown-source-view.is-live-preview {
    --list-padding-inline-start: var(--list-indent-editing);
    --list-marker-space: 0.25em;
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-row-btn {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--max-width);
    border-top: none;
    cursor: s-resize;
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
    padding-inline-end: 8px;
}

/* icon */
.view-content .is-collapsed .list-collapse-indicator svg.svg-icon,
.view-content .is-collapsed .collapse-indicator svg.svg-icon {
    color: var(--collapse-icon-color);
}

/* buttons & links */
.edit-block-button {
    color: #b3b3b3;
    background-color: transparent !important;
}

.external-link {
    padding-inline-end: 1em;
}

/* --- frontmatter & inputs --- */

textarea,
input.metadata-input-text,
input[type="date"],
input[type="datetime-local"],
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"] {
    color: var(--text-muted);
}

input.metadata-property-key-input {
    color: var(--metadata-label-text-color);
    font-size: var(--metadata-label-font-size);
}

.metadata-add-button {
    text-transform: lowercase !important;
}

.metadata-container {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--callout-radius);
    padding: 12px;
    margin-bottom: 0px;
}

.metadata-container .multi-select-pill {
    background: var(--tag-background);
    color: rgba(var(--color-blue-rgb));
    line-height: 1.1;
}

.metadata-container .multi-select-pill:hover {
    background: rgba(var(--color-blue-rgb));
    color: var(--text);
}

.metadata-container .multi-select-pill:hover .multi-select-pill-remove-button {
    color: var(--text);
    fill: var(--text);
}

.metadata-properties-heading.is-collapsed {
    margin-bottom: 0px;
}

.collapse-icon svg.svg-icon {
    width: 8px;
}

.metadata-properties-heading .collapse-indicator {
    inset-inline-start: -13.5px;
}

/* hide all collapse indicators everywhere */
.collapse-indicator,
.cm-fold-indicator .collapse-indicator,
.fold-gutter .collapse-indicator,
.view-content .list-collapse-indicator,
.metadata-properties-heading .collapse-indicator,
.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator,
.cm-gutterElement .collapse-indicator,
.cm-gutterElement .is-collapsed .collapse-indicator {
    opacity: 0 !important;
}

.inline-title {
    margin-bottom: 25px;
}

.markdown-source-view .metadata-container,
.markdown-preview-view .metadata-container {
    transform: translateX(0);
}

.workspace-leaf-resize-handle {
    border-color: black;
}

/* workspace & sidebar */
body:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile {
    border-top: transparent;
}

body:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile
    .workspace-drawer-vault-switcher-icon {
    color: var(--icon-color);
    opacity: var(--icon-opacity);
}

/* checkboxes */
.checkbox-square {
    --checkbox-radius: 3px;
}

/* jump to link */
.jl.popover {
    position: absolute;
    display: block;
    z-index: 10000;
    background: linear-gradient(
        to bottom,
        rgba(255, 186, 133, 0.8),
        rgba(255, 186, 66, 0.8)
    );
    border: 1px solid rgb(227, 157, 35);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
}
