/* Image alignment */
img[alt*="center"] {
    display: block;
    margin-inline: auto;
}

img[alt*="right"] {
    float: right;
    clear: right;
    margin: 2px 0 2px 1rem;
}

/* LaTeX MathJax */
mjx-math {
    font-size: 120% !important;
}

/* Julia Popover Styling */
.jl.popover {
    position: absolute;
    display: block;
    z-index: 10000;
    background: linear-gradient(to bottom, rgba(255, 186, 133, 0.8), rgba(255, 186, 66, 0.8));
    border: 1px solid rgb(227, 157, 35);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
}

/* Theme Variables */
.theme-dark,
.theme-light {
    --jump-to-link-lightspeed-color: var(--text-muted);
}

/* Edit block button */
.edit-block-button {
    color: #b3b3b3;
    background-color: transparent !important;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    border-top: transparent;
}

/* Hover effect for embed blocks */
@media (hover: hover) {
    .markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget):hover {
        box-shadow: 0 0 0 1px #363636, inset 0 0 0 1px #363636;
        border-radius: var(--radius-s);
        overflow: hidden;
        cursor: text;
    }
}

/* Title Padding */
.inline-title {
    padding-bottom: 10px;
}

/* Code styling */
body {
    --code-size: var(--font-smaller);
    --code-background: var(--background-primary-alt);
    --code-normal: #b3b3b3;
    --code-comment: #656565;
    --code-function: #e0de71;
    --code-important: #ffba73;
    --code-keyword: #fb99cd;
    --code-property: #51dedc;
    --code-punctuation: #b3b3b3;
    --code-string: #45cf6e;
    --code-tag: #fb464c;
    --code-value: #51dedc;

    --callout-border-width: 0 0 0 3.5px;
    --callout-border-opacity: 0.5;
}

/*
.markdown-rendered code {
    border: 2px solid #ff5733;
}
*/
