mjx-math {
    font-size: 118% !important;
}

.math-block mjx-mtd {
    padding-bottom: 0.2em !important;
    padding-top: 0.2em !important;
}

.callout {
    page-break-inside: avoid;
    break-inside: avoid-page;
}

.jl.popover {
    position: absolute;
    display: block;
    z-index: 10000;
    background: linear-gradient(to bottom, rgba(255, 186, 133, 0.8), rgba(255, 186, 66, 0.8));
    border: 1px solid rgb(227, 157, 35);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
}

.theme-dark,
.theme-light {
    --jump-to-link-lightspeed-color: var(--text-muted);
}

.edit-block-button {
    color: #b3b3b3;
    background-color: transparent !important;
}

body:not(.is-mobile)
.workspace-split.mod-left-split
.workspace-sidedock-vault-profile {
    border-top: transparent;
}

.callout[data-callout="important"] {
    --callout-color: var(--callout-important);
    --callout-icon: lucide-circle-alert;
}

.inline-title {
    padding-bottom: 10px;
}

/* Centers images in Editor Mode */
.cm-editor img {
    display: block;           /* Makes the img tag a block element */
    margin-left: auto;        /* Auto margin on the left */
    margin-right: auto;       /* Auto margin on the right */
    max-width: 100%;          /* Prevents image from overflowing */
}

/* Centers images in Reading Mode */
.markdown-preview-view img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.markdown-source-view.is-live-preview {
    --list-padding-inline-start: var(--list-indent-editing);
    --list-marker-space: 0.25em;
}

body {
    /* --list-indent-editing: 5em; */
    /* --list-indent: 5em; */
    --code-size: var(--font-smaller);
    --code-background: var(--background-primary-alt);
    --code-normal: #b3b3b3;
    --code-comment: #656565;
    --code-function: #e0de71;
    --code-important: #ffba73;
    --code-keyword: #fb99cd;
    --code-property: #51dedc;
    --code-punctuation: #b3b3b3;
    --code-string: #45cf6e;
    --code-tag: #fb464c;
    --code-value: #51dedc;

    /* Callout Borders */
    --callout-border-width: 1px;
    --callout-border-opacity: 0.2;

    --font-adaptive-small: var(--font-ui-small);

    --icon-m: 16px;
    --code-border-color: var(--background-modifier-border);
    --code-border-width: 1px;
    --code-radius: 4px;

    --metadata-input-text-color: var(--text-muted);
    --nav-indentation-guide-color: rgba(var(--mono-rgb-100), 0.2) !important;
}

.is-translucent:not(.is-fullscreen) {
    --nav-collapse-icon-color-collapsed: rgba(var(--mono-rgb-100), 0.3);
    --divider-color: rgba(0, 0, 0, 0.15);
}

textarea,
input.metadata-input-text,
input[type='date'],
input[type='datetime-local'],
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    color: var(--text-muted);
}

body:not(.minimal-unstyled-tags) {
    --tag-color-hover: var(--tag-color);
}

input.metadata-property-key-input {
    color: var(--metadata-label-text-color);
    font-size: var(--metadata-label-font-size);
}

.metadata-add-button {
    text-transform: lowercase !important;
}

.metadata-container {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
}

.external-link {
    padding-inline-end: 1em;
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-row-btn {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--max-width);
    border-top: none;
    cursor: s-resize;
}

.metadata-container .multi-select-pill {
    background: var(--tag-background);
    color: var(--tag-color);
    line-height: 1.1;
}

.metadata-container .multi-select-pill:hover {
    background: var(--tag-color);
    color: #ffffff;
}

.metadata-container .multi-select-pill:hover .multi-select-pill-remove-button {
    color: #ffffff;
    fill: #ffffff;
}

.h2-l .markdown-reading-view h2, .h2-l .mod-cm6 .cm-editor .HyperMD-header-2 {
    padding-bottom: .4em;
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
    padding-inline-end: 8px;
}

.view-content .is-collapsed .list-collapse-indicator svg.svg-icon, .view-content .is-collapsed .collapse-indicator svg.svg-icon {
    color: var(--collapse-icon-color);
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher-icon {
    color: var(--icon-color);
    opacity: var(--icon-opacity);
}

.checkbox-square {
    --checkbox-radius: 3px;
}
